/** @format */

.image-block-container {
  position: relative;
  width: 100%;
  user-select: none;
  animation: fade 0.5s ease-in;
  transition: all 0.4s;
}

#block-image {
  max-width: 50%;
  margin: 1rem auto;
  display: block;
}

#block-image:hover {
  scale: 1.01;
  transition: all 0.4s;
}

.image-block-container .block-icons {
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  transition: all 0.4s;
  cursor: pointer;
}

.image-block-container:hover .block-icons {
  right: 1%;
}
