/** @format */

.blocks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 90%;
  margin: 1rem auto;
  margin-bottom: 5rem;
}

.blocks-container .block {
  height: 15rem;
  min-width: 25rem;
  width: 23%;

  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 2rem;

  display: flex;
  align-items: center;
  color: var(--white);
  text-transform: capitalize;
  font-size: 1.3rem;
}

.blocks-container .block h1 {
  margin-left: 2rem;
  line-height: 2.5rem;
}

.blocks-container .block-1 {
  background-color: var(--green);
}
.blocks-container .block-2 {
  background-color: var(--yellow);
}
.blocks-container .block-3 {
  background-color: var(--red);
}
.blocks-container .block-4 {
  background-color: var(--blue-light);
}

.blocks-container .icon path {
  fill: var(--white);
}
.blocks-container .icon {
  fill: var(--white);
  transform: scale(1.5);
}

@media (max-width: 1366px) {
.blocks-container .block {
  height: 12rem;
  font-size: 1rem;
  margin-top: 1rem;
}
}


@media (max-width: 550px) {
  .blocks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.blocks-container .block {
  width: 100%;
}

}