
.graph-container {
   width: 100%;
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    font-size: 1.4rem !important;
    margin-bottom: 5rem;
     background-color: #9d9e9d87;
  backdrop-filter: blur(5px);
}


.graph-container h1 {
  text-align: center;
  padding: 1rem;
  /* background-color: #20385C; */
  color: var(--white);
  font-size: 2rem;

}

.graph-container .feedback {
  display: flex;
  align-items: center;
  color: #00CD70;
  margin: 1rem 0 ;
}


.graph-container .feedback .content {
  margin-left: 1rem; 
}