/* Button */

button{
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    display: flex;
    place-items: center;
    place-content: center;
    width: 120px;
    gap: .5rem;
    
  }



  button:hover
  {
    cursor: pointer;
  }