/** @format */

.context-menu-container {
  position: absolute;
  width: 15rem;
  left: -15rem;
  padding: 2rem 1rem;
  box-shadow: var(--shadow);
  z-index: 3;
  background-color: var(--white);
  margin-top: -5rem;
  text-align: center;
  overflow: scroll;
  transition: all 5s;
  animation: fade 0.5s ease-in;
  text-transform: capitalize;
}

.context-menu-item {
  transition: all 0.5s;
}

.context-menu-item h3 {
  color: rgb(114, 110, 110);
}
.context-menu-item:hover .context-menu-item-content h3,
.context-menu-item:hover .context-menu-item-icon {
  color: var(--green);
}

.context-menu-item-content {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid rgba(204, 198, 198, 0.171);
  align-items: center;
}

.context-menu-item:hover .menu-container {
  max-height: 5rem;
}

.context-menu-item:hover .menu-container-inner {
  display: block;
}

.context-menu-item-icon {
  display: flex;
  align-items: end;
  margin-right: 2rem;
}

.menu-container-inner {
  display: none;
}
.menu-container {
  max-height: 0;
  transition: all 0.5s;
}

.menu-item {
  transition: inherit;

}

.menu-item:hover {
  color: var(--red);
}


.menu-item-color {
  padding: .5rem;
}