/** @format */

.inputquestion {
  background-color: #9d9e9d53;
  backdrop-filter: blur(5px);
  box-shadow: none;
  height: 100%;
}

.inputquestion .inputquestion-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem;
}

.inputquestion  button {
  background: var(--green);
  color: #fff;
  padding: 1rem;
  font-size: 18px;
  border-radius: 50px;
}
.inputquestion-container {
  width: 440px;
  margin: auto;
  padding: 1rem;
  background: var(--white);
}

.inputquestion-container h1 {
  font-size: 2rem;
  color: var(--blue-light);
  text-align: center;
}

.inputquestion-container-content h2 {
  color: var(--blue-dark);
  font-size: 2rem;
  margin: 2rem 0;
}

.question-input {
  width: 100%;
  height: 5rem;
  margin-bottom: 2.5rem;
  padding-left: 1rem;
  display: block;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.question-inputs {
  background: #fff;
  padding: 3rem 2rem 0.5rem 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.textual-answer {
  padding: 2rem 1rem 0 2rem;
  margin: auto;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  align-items: center;
}

.question-additions {
  display: flex;
  place-items: center;
  place-content: center;
  text-align: center;
  margin: 3rem  auto;
  width: 100%;
  gap: 2rem;
  padding: 1rem 0;
}
.question-line {
  width: 100%;
  border: 0.2px solid #ccc;
}

.inputquestion .question-btn {
  width: 100%;
  background: var(--blue-dark);
  border-radius: 0;
  margin: 2rem 0;
}
