.user-infor {
    width: 90%;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    border-bottom: 4px solid var(--gold);
    padding-bottom: 2rem;
}



.user-infor .user-icon path {
    fill: var(--white);
}

.user-infor .user-icon {
    transform: scale(2.5);
    margin: 4rem 0;
    margin-bottom: 2rem;

}

.user-infor h1 {
    margin: 1rem 0;
}