/** @format */

.main-editor-container {
  display: flex;
  flex-direction: column;
   height: 100vh;

}

.main-editor-header {
  display: flex;
  justify-content: space-between;
}

.main-editor-header {
  background-color: var(--white);
  color: var(--blue-dark);
  padding: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  box-shadow: var(--shadow);
  margin: 1rem 1rem;
  border-radius: 1rem;
  
}

.main-editor-icons-left {
  display: flex;
  color: var(--green);
}



.main-editor-header .icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
  cursor: pointer;
  user-select: none;
  transition: all .4s;
}

.main-editor-content {
  height: 100%;
  box-shadow: var(--shadow);
  background-color: var(--white);
  margin: 0 1rem;
  margin-bottom: 1rem;
  overflow: scroll;
  border-radius: 1rem;
}


.main-editor-icons-left .icons-container:hover, .editor-icon-right .icons-container:hover {
  color:var(--white);
  background-color: var(--red);
  padding: .5rem;
  border-radius: 1rem;
}