

.choice-container{ 
    position: relative;
    background-color: white;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    place-items: center;
    justify-content: space-between;
}

.delete-btn-container{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.delete-btn{   
display: none;
}


.delete-icon{   
    position: absolute;
    display: grid;
    place-items: center;
    color: var(--white);
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--red);
    padding: 0 2rem;
    font-size: 1.5rem;
    border-radius: 0 2rem 2rem 0;
}
.delete-icon:hover{
cursor: pointer;
}