.question-properties
{
    display: flex;
    justify-content: center;
}

.quest-body{
    height: 1000px;
    background-color: aliceblue;
    width: 1250px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.question-container {
    top: 180px;
    right:200px;
    width: 900px;
    height: 435px;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}



.option-btns{
    display: flex;
    justify-content: space-between;
    top: 650px;
    width: 900px;
    right: 200px;
    position: absolute;
}

.choices{
    display: block;
    position: absolute;
    top: 700px;
    right: 200px;
    width: 900px;
}


.prev{
    top: 950px;
    right: 200px;
    width: 900px;
    position: absolute;
}

.prev-btn {
    width: 900px;
}

/* Wrapper */
.wrapper 
{
    display: grid;
    place-items: center;
    margin: auto;
}



