

.header ul{
    padding-top: 2rem;
    margin-left: -2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header ul li 
{
    border: 1px solid #ccc;
    padding: 1rem;
}

