.preview-1 {
  background-color: #9d9e9d53;
  backdrop-filter: blur(5px);
  box-shadow: none;
  height: 100%;
}
.preview-1 .preview-1-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem;

}

.preview-1 button {
    background: var(--green);
    color: #fff;
    padding: 1rem;
    font-size: 18px;
    border-radius: 50px;
  }

.preview-1-container {
  width: 440px;
  min-height: 70%;
  margin: 0 auto;
  background-color: var(--white);
  padding: 2rem;
}

.preview-1-container h1 {
  font-size: 2rem;
  color: var(--blue-light);
  text-align: center;
  margin-bottom: 2rem;
}



.preview-1-options {
  padding: 0 3rem;
}

.option {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  font-weight: bold;
  font-size: 2rem;
}

.preview-1-container h2 {
  font-size: 1.5rem;
  color: var(--blue-dark);
  margin: 1rem 0;
}

.preview-1-img {
  width: 50%;
  display: block;
  padding: 1rem 3rem;
}
