.blockText-container {
    position: relative;
    
}

.block-content {
    width: 100%;
    color: var(--white);
    font-size: 1.6rem;
    height: min-content;
}

.block-icons {
    position: absolute;
    top: 0%;
    right: -100%;
    transform: translateY(-50%);
    transition: all .4s;
    cursor: pointer;
}

.blockText-container:hover .block-icons {
    right: 1%;
}