/** @format */

.blockText-container {
  position: relative;
  
}

.blockText-container > textarea {
  background: transparent;
  border: transparent;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2rem;
}

.block-content {
  width: 100%;
  resize: none;
}

.block-icons {
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  transition: all 0.4s;
  cursor: pointer;
}

.blockText-container:hover .block-icons {
  right: 1%;
}
