

.mcq {
  background-color: #9d9e9d53;
  backdrop-filter: blur(5px);
  box-shadow: none;
  height: 100%;
}


.mcq .mcq-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem;
}

.mcq button.back {
  background: var(--green);
  color: #fff;
  padding: 1rem;
  font-size: 1.6rem;
}

.mcq-container {
  width: 440px;
  margin: auto;
  background-color: var(--white);
  padding: 1rem;
  max-height: 70%;
 
}
.mcq-container h1 {
  font-size: 2rem;
}

.mcq-options {
 
}
.mcq-container-content  h2 {
  color: var(--blue-dark);
}
.mcq-container-content > h2 {
  text-align: center;
  margin: 1rem 0;
  text-transform: capitalize;
}

.mcq-container-content {
  margin-bottom: auto;
 
}
.mcq .option-card {
  background: #fff;
  padding: 3rem 2rem 2rem 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.mcq .option-card button.mcq-add {
  background: #333;
  color: var(--white);
}

.mcq .option-card input {
  height: 4rem;
  padding-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  flex: 1;
}

.mcq .choice 
{
  display: flex;
  padding: 3rem 2rem 2rem 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.mcq .choice h4 
{
  font-size: 15px;
  color: var(--blue-dark);
}

.mcq .question-btn 
{
  width: 100%;
  background: var(--blue-dark);
  margin-top: 5rem;
  padding: 1rem 0;
  border-radius: 0;
}
  

.mcq .choice-header
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
  margin-bottom: 3rem;
}
.mcq .choice-option 
{
  display: flex;
  gap: 2rem;
  font-size: 18px;
  color: #ccc;
}