body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
     background-image: url("./resources/images/background.jpg");
 
}

/* hiding the scrollbar on  Chrome, Safari and Opera while still alowing the user to scroll*/
*::-webkit-scrollbar {
  display: none;
}


* {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
   
}


:root {
  --blue-light: #3C8EDA;
  --red: #F65858;
  --white: #F1F8FF;
  --blue-dark: #20385C;
  --blue-dark-2: #136E97;
  --black: #0F0F0F;
  --green: #00CD70;
  --orange: #E9781B;
  --yellow: #FFCF48;
  --grey: #707070;
  --pink: #F065BE;
  --gold: #CEAC4C;
  --purple: #7A2377;
  --shadow:0px 6px 100px  rgba(0,0,0,0.19);  
}

/* 62.5% ensures that 1rem = 10px */
html {
  font-size: 62.5%;
}


*:focus {
  outline: none;
}
 ::selection {
   color: var(--white);
   background: var(--green);
 }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 2rem;

  /* border: 1px solid red; */
}


/* General styling */
img{
  width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}




/* global fade animation */
@keyframes fade {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
}