.main-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}


.main-container .main {
  flex: 1;
  height: 100%;
}


.nav1 {
  background-color: blue;
  width: 15%;
}


.main-outlets {
  height: calc(100% - 10rem);
  width: 100%;
   background-color: red;
   overflow: scroll;
}