
.side-links {
  color: var(--white);
}


.side-links  .link-item {
  display: flex;
  align-items: center;
  margin: 2rem .5rem ;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--white);
  transition: all .5s;
}

.side-links .link-item:hover {
   padding: 1rem;
   margin-left: 1rem;

}


.side-links  .link-item h3 {
    margin-left: 10px;
}

.side-links  .link-item .icon-1 path {
   fill: var(--grey);
}

.side-links  .link-item .icon-2 path {
   fill: var(--yellow);
}

.side-links  .link-item .icon-3 path {
   fill: var(--red);
}

.side-links  .link-item .icon-4 path {
   fill: var(--purple);
}

.side-links  .link-item .icon-5 path {
   fill: var(--blue-light);
}

.side-links  .link-item .icon-6 path {
   fill: var(--gold);
}

.side-links  .link-item .icon-7 path {
   fill: var(--pink);
}

.side-links  .link-item .icon-8 path {
   fill: var(--green);
}

.side-links  .link-item .icon-9 path {

}
